:root {
    --tarheelBlue: #ADDFFF;
}

p {
    color: darkcyan
}

header {
    height : 150px;
    padding : 20px 0 70px 0;
    background : url(REALMAP.png) 50% 0 no-repeat #2d6360;
    background-attachment : fixed, fixed, fixed, scroll;
    background-image :  url(noise.png), url(REALMAP.png);
    background-position : 0 0, 0 0, -5px -25px, 0 50%;
    background-repeat : repeat, repeat, repeat, no-repeat;
    background-size : auto, auto, auto, cover;
    text-align : center;
    }

body {
    text-align : center;
    }

    footer {
        clear : both;
        padding : 3em 10%;
        color : #ADDFFF;
        background : #0c6d85;
        text-align : center;
        }
