:root {
    --tarheelBlue: #ADDFFF;
}

p {
    color: darkcyan
}

header {
    height : 150px;
    padding : 20px 0 70px 0;
    background : url(../hammertime/images/REALMAP.png) 50% 0 no-repeat;
    background-attachment : fixed, fixed, fixed, scroll;
    background-image : url(../hammertime/images/REALMAP.png);
    background-position : 0 0, 0 0, -5px -25px, 0 50%;
    background-repeat : repeat, repeat, repeat, no-repeat;
    background-size : auto, auto, auto, cover;
    text-align : center;
    }

body {
    text-align : center;
    }

    footer {
        height : 50px;
        padding : 20px 0 70px;
        color : blueviolet;
        background : url(../hammertime/images/REALMAP.png) 50% no-repeat #0c6d85;
        background-attachment : fixed, fixed, fixed, scroll;
        background-image : url(../hammertime/images/REALMAP.png);
        background-position : 0 0, 0 0, -5px -25px, 0 50%;
        background-repeat : repeat, repeat, repeat, no-repeat;
        background-size : auto, auto, auto, cover;
        text-align : center;
        transition : color 0.25s ease-out, box-shadow 0.25s ease-out;
        }
