:root {
    --tarheelBlue: #ADDFFF;
}

p {
    color: #000000;
}

header {
    height : 150px;
    padding : 20px 0 70px 0;
    background : url(../hammertime/images/REALMAP.png) 50% 0 no-repeat;
    background-attachment : fixed, fixed, fixed, scroll;
    background-image : url(../hammertime/images/REALMAP.png);
    background-position : 0 0, 0 0, -5px -25px, 0 50%;
    background-repeat : repeat, repeat, repeat, no-repeat;
    background-size : auto, auto, auto, cover;
    text-align : center;
    }

body {
    text-align : center;
    }

    footer {
        height : 50px;
        padding : 20px 0 70px;
        color : rgb(255, 255, 255);
        background : url(../hammertime/images/REALMAP.png) 50% no-repeat #0c6d85;
        background-attachment : fixed, fixed, fixed, scroll;
        background-image : url(../hammertime/images/REALMAP.png);
        background-position : 0 0, 0 0, -5px -25px, 0 50%;
        background-repeat : repeat, repeat, repeat, no-repeat;
        background-size : auto, auto, auto, cover;
        text-align : center;
        transition : color 0.25s ease-out, box-shadow 0.25s ease-out;
        }

    #outerdiv {border: 4px solid rgb(31, 64, 172); width: 99%; height: 205%; position:sticky; text-align:center; padding: 20 px 0 70px;}

   
    /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
    #map {
        height: 200%;
        width: 100%;
    }
    
    /* Optional: Makes the sample page fill the window. */
    html,
    body {
        height: 100%;
        margin: 0;
        padding: 0;
    }